

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 170px;
    background-color: #020220;
    position: fixed;
    bottom: 0;
    top:0;
    left: 0;
    color: red;
    border-radius: 0px 24px 24px 0px;
}